@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #4d5456;
  line-height: 24px;
  font-weight: 300;
}


#contact p{
  text-align:left;
}

.navbar-brand {
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
  margin:25px 50px 25 0;
}

section {
  padding-top: 50px;
}
nav {
  height: 95px;
  color: #4d5456;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
nav a{
  color: #4d5456;
}
/* About Me */

.about-summary {
  padding: 20px;
}
/* Portfolio */
.portfolio-item {
  padding: 1em; 
  max-height: 800px;
  
}

.large-icon {
  font-size: 32px !important;
}
h1 {
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 30px;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight:400;
}

/* Social */
ul.social li{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    display: inline;
}

ul.social a{
  color: #FFFFFF;
  font-size: 28px;
}
ul.social a:visited{
  color: #FFFFFF;
}

.fa {
  padding-right: .5em;
}




/* Services */
#services {
  background-color: #eee;
}
#skills {
  margin-bottom: 40px;
}

footer {
  margin-top: 120px;
  padding-top: 2em;
  padding-bottom: 2em;
    background-color: #1e6d9a;
    color: #FFFFFF;
    margin-top: 120px;
}

a[href^="mailto"] { color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}